# Application
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# Postgres (Read/Write models)
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=meubanco

# MongoDB (Event Store)
MONGO_URI=mongodb://localhost:27017/financial_events

# Redis (Microservice transport + internal Pub/Sub)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
